@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
  scroll-behavior: smooth;

  cursor: default;
  user-select: none;
}


nav {
  font-family: Poppins;
}

.nav-link {
  color: white;
  padding-block: 2vw;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.collapse {
  border: none;
}

.navbar-toggler::after {
  border: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  border: 0px;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.hero {
  height: 80vh;
  overflow: hidden;
}

.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 0;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  animation: slide 40s linear infinite;
}

.carousel-track img {
  height: 100%;
  width: auto;
  filter: grayscale(100%);
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 2px;
  border: none;
  opacity: 0.4;
}

.carousel-track img:hover {
  filter: grayscale(0%);
}

.hero-content {
  z-index: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.titulo-gradiente {
  background: linear-gradient(to right, #f9d423, #ff4e50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.art-container {
  text-align: left;
}

.img-estilo {
  width: 100%;
  height: 10vh;
  object-fit: cover;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.art-container {
  text-align: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
}

.img-wrapper {
  overflow: hidden;
  height: 10vh;
}


.art-container:hover .img-estilo {
  height: 40vh;
}

.art-title {
  position: relative;
  display: inline-block;
  color: white;
}

.art-title::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background-color: white;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.art-container:hover .art-title::after {
  width: 100%;
}

section h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

section p, section ul {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
}

section ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
